<!-- Login Form -->
<header id="login-signup" class="hero">
  <div class="col-12">
    <form class="login-form form1 col-4">
      <div class="form-group">
        <label for="email-login">EMAIL</label>
        <input type="text" class="form-control" id="email-login" />
      </div>
      <div class="form-group">
        <label for="password-login">PASSWORD</label>
        <input type="password" class="form-control" id="password-login" />
      </div>
      <div>
        <button type="submit" class="special-btn btn btn-primary form-control">LOGIN</button>
      </div>
    </form>
  
  <!-- Sign Up Form -->
    <form class="signup-form form2 col-4">
      <div class="form-group">
        <label for="username-signup">USERNAME</label>
        <input type="text" class="form-control" id="username-signup" />
      </div>
      <div class="form-group">
        <label for="email-signup">EMAIL</label>
        <input type="text" class="form-control" id="email-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup">PASSWORD</label>
        <input type="password" class="form-control" id="password-signup" />
      </div>
      <div>
        <button type="submit" class="special-btn btn btn-primary form-control">SIGNUP</button>
      </div>
    </form>
  </div>
</header>
<script src="/js/login.js"></script>
