* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  padding: 20px 35px;
  background-color: blue;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-image: url("../images/hero-bg.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: 80%;
  z-index: 9999;
}
header h1 {
  font-weight: bold;
  font-size: 36px;
  color: red;
  margin: 0;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
header nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.55vw;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
header nav ul li a:hover {
  background: blue;
  color: red;
  border-radius: 15px;
  text-shadow: none;
}
header a {
  text-decoration: none;
  color: white;
}
/* Sets the Hero image */
.hero {
  background-image: url("../images/hero-img.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  background-attachment: fixed;
  background-position: 80%;
}

/* Controls the text on hero image */
.hero-cta {
  width: 35%;
  text-align: center;
  margin: 3.5%;
  color: #fff;
  font-size: 18px;
  line-height: 1.2;
}
.hero-cta h2 {
  font-style: italic;
  font-size: 55px;
  color: red;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
/* End of text of hero image */